/* styles/style.css */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General styles */
body,
h1 {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 90%;
    margin: auto;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content,
.about-content,
.skills,
.projects,
.footer-content {
    padding: 20px;
    text-align: center;
}

.profile-pic img {
    width: 100%;
    border-radius: 50%;
}

.about-me {
    grid-column: 1 / 2;
}

.about-text-container {
    text-align: left;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.skills-container .skill {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    color: white;
    position: relative;
}

.skills-container .skill::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.skills-container .skill.html::before {
    background: rgba(227, 76, 38, 0.5);
}

.skills-container .skill.css::before {
    background: rgba(38, 77, 228, 0.5);
}

.skills-container .skill.js::before {
    background: rgba(240, 219, 79, 0.5);
}

.skills-container .skill.python::before {
    background: rgba(48, 105, 152, 0.5);
}

/* Progress bars */
.skills-container .skill.html::after {
    content: '';
    display: block;
    width: 90%;
    /* Adjust percentage as needed */
    height: 100%;
    background: #E34C26;
    position: absolute;
    top: 0;
    left: 0;
}

.skills-container .skill.css::after {
    content: '';
    display: block;
    width: 80%;
    /* Adjust percentage as needed */
    height: 100%;
    background: #264DE4;
    position: absolute;
    top: 0;
    left: 0;
}

.skills-container .skill.js::after {
    content: '';
    display: block;
    width: 70%;
    /* Adjust percentage as needed */
    height: 100%;
    background: #F0DB4F;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}

.skills-container .skill.python::after {
    content: '';
    display: block;
    width: 60%;
    /* Adjust percentage as needed */
    height: 100%;
    background: #306998;
    position: absolute;
    top: 0;
    left: 0;
}

.projects {
    grid-column: 1 / 3;
}

.project {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    padding: 10px;
    background: #333;
    color: #fff;
    text-align: center;
}