/* styles/style.css */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General styles */
body,
h1 {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    padding-top: 50px;
    background-color: #f0ede4;
}

.container {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 90%;
    margin: auto;
    grid-template-rows: 1fr 1fr;
    margin-right: 50px;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content,
.about-content,
.skills,
.projects,
.footer-content {
    padding: 20px;
    text-align: center;
}

.profile-pic img {
    width: 75%;
    border-radius: 50%;
    margin-top: 50px;
}

.about-me {
    grid-column: 1 / 2;
    border-right: 1px solid black;
}

.about-text-container {
    text-align: left;
    margin-top: 50px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.skill {
    width: 100%;
    /* Ensures the skill section takes the full width */
    margin: 10px 0;
    position: relative;
}

.skill-info {
    display: flex;
    align-items: center;
}

.skill-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.skill-text {
    color: white;
    font-size: 16px;
}

.progress-bar {
    flex-grow: 1;
    height: 20px;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 10px;
    margin-left: 10px;
}

.progress-bar::after {
    content: '';
    display: block;
    height: 100%;
    border-radius: 10px;
}

.progress-bar.html::after {
    width: 90%;
    background: #C86450;
}

.progress-bar.css::after {
    width: 80%;
    background: #5064C8;
}

.progress-bar.js::after {
    width: 70%;
    background: #C8C864;
}

.progress-bar.python::after {
    width: 60%;
    background: #5078C8;
}

.expanding-section {
    display: none;
    /* Initially hidden */
    overflow: hidden;
    padding: 10px;
    background: #eee;
    color: #333;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Ensures the expanding section takes the full width */
}

.expanding-section.active {
    display: block;
    /* Shown when active */
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.carousel-controls button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}