/* styles/style.css */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General styles */
body,
h1 {
    font-family: Helvetica, sans-serif;
}

.profile-pic,
.skill {
    cursor: pointer;
}

body {
    margin: 0;
    padding-top: 50px;
    background-color: #F0F4F8;
    /* Light Gray background */
    color: #333333;
    /* Dark Gray text color */
}

.container {
    border-top: 1px solid #4A90E2;
    /* Blue border */
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 90%;
    margin: auto;
    grid-template-rows: 1fr 1fr;
    margin-right: 50px;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content,
.about-content,
.skills,
.projects,
.footer-content {
    padding: 20px;
    text-align: center;
}

.flip-container {
    perspective: 1000px;
    margin-top: 50px;
    height: 100px;
    margin-bottom: 35px;
}

.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 320px;
    height: fit-content;
    margin-bottom: 50px;
    ;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.profile-pic {
    position: relative;
    width: 320px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    /* Indicates interactivity */
    border-radius: 50%;
    border: 5px solid white;
    /* White circular ring */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for effect */
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about-me {
    grid-column: 1 / 2;
    border-right: 1px solid #4A90E2;
    /* Blue border */
}

.about-text-container {
    text-align: left;
    margin-top: 50px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.skill {
    width: 100%;
    /* Ensures the skill section takes the full width */
    margin: 10px 0;
    position: relative;
}

.skill-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.skill-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.skill-text {
    color: #333333;
    /* Dark Gray text color */
    font-size: 16px;
}

.progress-bar {
    flex-grow: 1;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 10px;
    margin-left: 10px;
}

.progress-bar::after {
    content: '';
    display: block;
    height: 100%;
    border-radius: 10px;
}

.progress-bar.html::after {
    width: 90%;
    background: #E34C26;
    /* HTML Logo Color */
}

.progress-bar.css::after {
    width: 80%;
    background: #1572B6;
    /* CSS Logo Color */
}

.progress-bar.js::after {
    width: 70%;
    background: #F7DF1E;
    /* JavaScript Logo Color */
}

.progress-bar.python::after {
    width: 60%;
    background: #3776AB;
    /* Python Logo Color */
}

.expanding-section {
    display: none;
    /* Initially hidden */
    overflow: hidden;
    padding: 10px;
    background: #FFFFFF;
    /* White background */
    color: #333333;
    /* Dark Gray text color */
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Ensures the expanding section takes the full width */
}

.expanding-section.active {
    display: block;
    /* Shown when active */
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.carousel-controls button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #4A90E2;
    /* Blue */
    color: white;
    border: none;
    border-radius: 5px;
}